FCM_RPC_URL=https://mainnet.base.org
FCM_PRIVATE_KEY=0x...
FCM_TOKEN_CONTRACT=0x...
FCM_REGISTRY_CONTRACT=0x...
FCM_MARKETPLACE_CONTRACT=0x...
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=us-west-2
HCLOUD_TOKEN=...
AZURE_SUBSCRIPTION_ID=...
AZURE_CLIENT_ID=...
AZURE_CLIENT_SECRET=...
AZURE_TENANT_ID=...
GRAFANA_PASSWORD=changeme
